



    <div class="container my-5 ">
        <div class="row p-1 pb-1 pe-lg-1 pt-lg-1 align-items-center rounded-3 border shadow-lg chat">

            <div class="imagem-bot">
                <img src="/assets/img/dough.png" alt="">
            </div>

            <div class="bot">   
                <h5>O que gostaria de fazer :</h5>
        
                <button class="button w-100  btn btn-primary">Solicitação de ECs</button>
                <button class="button w-100  btn btn-primary">Rejeição CIP/Pagfor</button>
                <button class="button w-100  btn btn-primary">Credenciamento Pré-Pago</button>
                <button class="button w-100  btn btn-primary">Realizar Transações/Cancelamentos EDI</button>
                <button class="button w-100  btn btn-primary">Realizar Transações Débito E Crédito</button>
                <button class="button w-100  btn btn-primary">Criação De Terminal</button>
                <button class="button w-100  btn btn-primary">Realizar Transações/Cancelamentos IATA</button>
                <button class="button w-100  btn btn-primary">Solicitar Cancelamento</button>

                <div class="mensagem" id="mensagem">
                    <div class="form-floating mb-4 ">
                            <input type="text" class="form-control w-100" id="mensagemUsuario" name="mensagemUsuario" placeholder="Sua Mensagem" maxlength="100" required="required" />
                            <label for="mensagem">Mensagem</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" id="enviarMensagem" type="submit">Enviar Mensagem</button>
                </div>

            </div>
           
           
        </div>
    </div>  
    


