<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/Content/Imagens/dough.png" width="128" height="128">
    <h1 class="display-5 fw-bold">Olá eu sou o Dough!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sou seu assistente virtual de massa de dados e estou aqui para te ajudar a criar e solicitar massa para seus testes no ambiente de homologação. Big Bop.</p>
    </div>
</div>



<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Com Dough é muito mais facil fazer a solicitação de Massa!</h1>
            <p class="lead">Dough foi Desenvolvido e pensado para facilitar as operações realizadas dentro do Portal de Massa, inicie agora a sua Conversa!</p>
        </div>
        <div class="col-lg-4 offset-lg-0 p-0 overflow-hidden shadow-lg formulario" style="margin-bottom: 30px">
          

            <div class="form-floating mb-3 ">
                <label for="Nome">Nome</label>
                <input class="form-control text-box single-line" data-val="true" data-val-required="O Campo Nome deve ser Preenchido" id="Nome" maxlength="40" name="Nome" placeholder="João" required="required" type="text" value="" />
    
            </div>
            <div class="form-floating mb-3">
                <label for="Usuario">Usuario Cielo</label>
                <input class="form-control text-box single-line" data-val="true" data-val-required="O Campo Usuario deve ser Preenchido" id="UsuarioCielo" maxlength="8" name="UsuarioCielo" placeholder="T0000ABC" required="required" type="text" value="" />

            </div>
            <div class="checkbox mb-3">
                <label>
                    <input class="check-box" data-val="true" data-val-required="O campo Lembrar é obrigatório." id="Lembrar" name="Lembrar" type="checkbox" value="true" /><input name="Lembrar" type="hidden" value="false" /> Lembrar Informações

                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" routerLink = "/chat">Iniciar uma Conversa</button>
            <hr class="my-3" />
            <small class="text-muted">Suas Informações e Solicitações são protegidas.</small>


        </div>
    </div>
</div>